# Env / secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
